USE [master]
GO
/****** Object:  Database [ABC Cooperation]    Script Date: 4/14/2023 8:58:28 PM ******/
CREATE DATABASE [ABC Cooperation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ABC Cooperation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ABC Cooperation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ABC Cooperation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ABC Cooperation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ABC Cooperation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ABC Cooperation]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 4/14/2023 8:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[emptNo] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nchar](50) NOT NULL,
	[lastName] [nchar](50) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[gender] [nchar](20) NOT NULL,
	[address] [nchar](50) NOT NULL,
	[email] [nchar](50) NOT NULL,
	[mobilePhone] [int] NOT NULL,
	[homePhone] [int] NOT NULL,
	[departmentName] [nchar](50) NOT NULL,
	[designation] [nchar](50) NOT NULL,
	[employeeType] [nchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[emptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 4/14/2023 8:58:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](50) NOT NULL,
	[password] [nchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
